<!DOCTYPE html>
<html lang="en-us">

  <head>
  <meta charset="utf-8">
  <meta name="robots" content="all,follow">
  <meta name="googlebot" content="index,follow,snippet,archive">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Tutorial Submission</title>
  <meta name="author" content="" />
  <meta name="keywords" content="tutorial, submission, useR! 2021, training">
  <meta name="description" content="Form for submitting tutorials">
  <meta name="generator" content="Hugo 0.46" />
     {{ headContent() }} 

  <script src="https://kit.fontawesome.com/86ad1ecbc0.js"></script>

   <link rel="stylesheet" href="https://benubah.github.io/rcentral/tutorial/css/bootstrap.min.css">


<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,500,700,800' rel='stylesheet' type='text/css'>
<link href="https://benubah.github.io/rcentral/tutorial/css/user-hugo-animate.css" rel="stylesheet">
 <link href="https://benubah.github.io/rcentral/tutorial/css/user-hugo-default.css" rel="stylesheet" id="theme-stylesheet">
  <link href="https://benubah.github.io/rcentral/tutorial/css/user-hugo-custom.css" rel="stylesheet">
            <link href="https://benubah.github.io/rcentral/tutorial/css/materialize.min.css" rel="stylesheet">
  <link href="https://benubah.github.io/rcentral/tutorial/css/userconf.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
 
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  

  <link rel="alternate" href="https://user2021.r-project.org/index.xml" type="application/rss+xml" title="useR 2021">

<link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
  
  <meta property="og:title" content="Tutorial Submission" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="/program/tutorial//" />
  <meta property="og:image" content="/img/artwork/user-logo-color.png" />

</head>


  <body>

    <div id="all">

        <header>

          <div class="navbar navbar-default navbar-fixed-top yamm" role="navigation" id="navbar" data-spy="affix" data-offset-top="200">

    <div class="" style="padding: 0px 100px 0px 90px; font-family: Roboto;">
        <div class="navbar-header">
            <a class="navbar-brand home" href="https://user2021.r-project.org">
                <img src="https://user2021.r-project.org/img/artwork/user-logo-color.png" alt="useR! logo" class="hidden-xs hidden-sm">
                <img src="https://user2021.r-project.org/img/artwork/user-logo-positive.png" alt="logo" class="visible-xs visible-sm">
                <span class="sr-only">Tutorial Submission - go to homepage</span>
            </a>
            <div class="navbar-buttons">
                <button type="button" class="navbar-toggle btn-template-main" data-toggle="collapse" data-target="#navigation">
                  <span class="sr-only">Toggle Navigation</span>
                    <i class="fa fa-align-justify"></i>
                </button>
            </div>
        </div>
        
        <div class="navbar-collapse collapse" id="navigation">
            <ul class="nav navbar-nav navbar-right">
              
              
              <li>
                <a href="https://user2021.r-project.org/blog/" role="link">blog</a>
              
              </li>
              
              
              <li class="dropdown show">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="menu" aria-haspopup="true" aria-expanded="false" id="About" aria-label="About">About <span class="caret"></span></a>
                <ul class="dropdown-menu" aria-labelledby="About">
                  
                    <li><a href="https://user2021.r-project.org/about/user/" class="dropdown-item">useR! conference</a></li>
                  
                    <li><a href="https://user2021.r-project.org/about/global-team/" class="dropdown-item">Global Organizing Committee</a></li>
                  
                </ul>
                
              </li>
              
              
              <li>
                <a href="https://user2021.r-project.org/keydates/" role="link">Key Dates</a>
              
              </li>
              
              <li class="dropdown show">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="menu" aria-haspopup="true" aria-expanded="false" id="Participation" aria-label="Participation">Participation <span class="caret"></span></a>
                <ul class="dropdown-menu" aria-labelledby="Participation">
                  
                    <li><a href="https://user2021.r-project.org/participation/coc/" class="dropdown-item">Code of Conduct</a></li>
                  
                </ul>
                
              </li>

              <li class="dropdown show">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="menu" aria-haspopup="true" aria-expanded="false" id="Program" aria-label="Program">Program <span class="caret"></span></a>
                <ul class="dropdown-menu" aria-labelledby="Program">
                  
                    <li><a href="https://user2021.r-project.org/program/tutorials/" class="dropdown-item">Tutorials</a></li>
                  
                    <li><a href="https://user2021.r-project.org/program/overview/" class="dropdown-item">overview</a></li>
                  
                </ul>
                
              </li>
              
              
              <li>
                <a href="https://user2021.r-project.org/sponsoring/" role="link">Sponsoring</a>
              
              </li>
              
              
              <li>
                <a href="https://user2021.r-project.org/contact/" role="link">Contact</a>
              
              </li>
              
            </ul>
        </div>
        

        <div class="collapse clearfix" id="search">

            <form class="navbar-form" role="search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search">
                    <span class="input-group-btn">

                <button type="submit" class="btn btn-template-main"><i class="fa fa-search"></i></button>

            </span>
                </div>
            </form>

        </div>
        

    </div>
</div>
        </header>

        <div id="heading-breadcrumbs">
    <div  style="padding: 0px 0em 0px 5em; height:75px; margin-right:-5em;">
        <div class="row">
            <div class="col-md-12">

            	<div class="col-md-7">
                <h1>Tutorial Submission Form</h1>
			</div>
			<div class="col-md-4" style="float:right;  align-items: center;color:white;display: flex; text-align:center; margin-top:-1em;">
<div id="countdown">
                <h6 id="headline" style="color:white; margin-bottom:-0.3em;font-size:1.3em; font-weight:bold;">SUBMISSION CLOSES IN</h6>
    <ul>
      <li style="display: inline-block; font-size: 1em;
  list-style-type: none;padding:0.5em;"><span id="days" style="display:block;font-size: 2.3em;font-weight:bold;"></span>DAYS</li>
      <li style="display: inline-block; font-size: 1em;
  list-style-type: none; padding:0.5em;"><span id="hours" style="display:block;font-size: 2.3em;font-weight:bold;"></span>HOURS</li>
      <li style="display: inline-block; font-size: 1em;
  list-style-type: none;padding:0.5em;"><span id="minutes" style="display:block;font-size: 2.3em;font-weight:bold;"></span>MINUTES</li>
      <li style="display: inline-block; font-size: 1em;
  list-style-type: none;padding:0.5em;"><span id="seconds" style="display:block;font-size: 2.3em;font-weight:bold;"></span>SECONDS</li>
    </ul>
  </div>
  <div class="message">
  </div>
			</div>

            </div>
        </div>
    </div>
</div>


        <div id="content">
            <div style="position: fixed; bottom: 0;  right: 0;
  width: 200px;">
		<img src="https://benubah.github.io/rcentral/tutorial/images/marmot_tablet.png" alt="marmot picture">
</div>

            <!-- Main Form START  -->
            <form>

  <!-- Instructor Information -->
                <div class="form-container">
                    <h3> Instructor Information</h3>
<div class="row">
                        <div class="input-field col s12">
<i class="material-icons prefix">vpn_key</i>
                            <input id="submission_token" type="text" class="validate" aria-labelledby="token-label token-helper">
                            <label for="submission_token" id="token-label">Submission ID<sub>.</sub></label>
                            <span id="token-helper" class="helper-text">
                                Leave this field blank if you about to submit a NEW submission.
                                Only use this field to enter your SUBMISSION ID if you want to 
                                update an existing submission.
                            </span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">account_circle</i>
                            <input id="instructor_name" type="text" class="validate" required="required" aria-required="true" aria-label="Name of corresponding instructor" autofocus>
                            <label for="instructor_name">Name of the corresponding instructor <span style="color:red"> *</span></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">mail_outline</i>
                            <input id="email" type="email" class="validate" required="required" aria-required="true" aria-label="Email Address">
                            <label for="email">Email <span style="color:red">*</span></label>
                            <span class="helper-text" data-error="Please provide a valid email"
                                data-success="Good!"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">location_city</i>
                            <input id="affiliation" type="text" class="validate" aria-label="Affiliation of Instructor" required="required" aria-required="true">
                            <label for="affiliation">Affiliation <span style="color:red"> *</span></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <p>
                                <label>Instructor Languages </label> <span class="helper-text">Select all the languages that you can use to converse with participants</span>
                            </p>
                            <label>
                                <input id="instructor_language1" type="checkbox" value="English"
                                    aria-label="Instructor Languages. Select all the languages that you can use to converse with participants. English" />
                                <span>English</span>
                            </label>
                            <label>
                                <input id="instructor_language2" type="checkbox" value="Spanish" />
                                <span>Spanish</span>
                            </label>
                            <label>
                                <input id="instructor_language3" type="checkbox" value="French" />
                                <span>French</span>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
<i class="material-icons prefix">groups</i>
                            <textarea id="other_instructors" class="materialize-textarea" data-length="2500"
                                aria-labelledby="instructors-label instructors-helper"></textarea>
                            <label for="other_instructors" id="instructors-label">Other Instructors <sub>.</sub></label>
                            <span id="instructors-helper" class="helper-text">Provide information for other instructors
                                in the following format: Name of Instructor, Affiliation of Instructor, Role of
                                Instructor (that is, Instructor or Teaching Assistant), and Languages of Instruction (e.g.
                                English, Spanish, French)</span>
                        </div>
                    </div>
                </div>

                <!-- Tutorial Information -->
                <div class="form-container">
                    <h3>Tutorial Information</h3>
                    <br>
                    

                    <div class="row">
                        <div class="input-field col s12">
                            <input id="title" type="text" class="validate" required="required" aria-required="true" aria-label="Tutorial Title">
                            <label for="title">Tutorial Title <span style="color:red">*</span></label>
                            <span class="helper-text" data-error="Please enter a tutorial title!"
                                data-success="Good!"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <textarea id="description" class="materialize-textarea validate" required="required" aria-required="true" data-length="2500"
                                aria-labelledby="description-label description-helper"></textarea>
                            <label for="description" id="description-label">Description <sub>.</sub> </label><label><span style="color:red; margin-left:5.5em;">*</span></label>
                            <span id="description-helper" class="helper-text">Provide a paragraph with topics to be
                                covered
                                also
                                mention a brief detail of resources to deliver the tutorial online using active teaching
                                (e.g.,
                                break out rooms?, pair programming? shared repo?) - 2500 characters</span>

                        </div>
                    </div>
<div class="row">
                        <div class="input-field col s12">
                            <textarea id="motivation" class="materialize-textarea validate" required="required" aria-required="true" data-length="2500"
                                aria-labelledby="motivation-label motivation-helper"></textarea>
                            <label for="motivation" id="motivation-label">Motivation<sub>.</sub></label><label><span style="color:red; margin-left:5em;">*</span></label>
                            <span id="motivation-helper" class="helper-text">Why is tutorial suitable for participants of useR! 2021 ? - 2500 characters</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea id="outline" class="materialize-textarea validate" required="required" aria-required="true" data-length="2500"
                                aria-labelledby="outline-label outline-helper"></textarea>
                            <label for="outline" id="outline-label">Time Outline<sub>.</sub></label><label><span style="color:red; margin-left:6em;">*</span></label>
                            <span id="outline-helper" class="helper-text">Provide a tutorial outline with the
                                approximate
                                duration of each section, example: lecture 20 minutes, live coding 15 minutes, lab 20
                                minutes. 2500 characters</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea id="objectives" class="materialize-textarea" data-length="2500"
                                aria-labelledby="objectives-label objectives-helper"></textarea>
                            <label for="objectives" id="objectives-label">Learning Goals and Objectives
                                <sub>.</sub></label>
                            <span id="objectives-helper" class="helper-text">Provide a paragraph or list of learning
                                goals
                                and
                                objectives - 2500 characters</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="keywords" type="text" class="validate" required="required" aria-required="true" aria-live="true" >
                            <label for="keywords">Keywords separated by commas. (minimum of 5 keywords) <span style="color:red">*</span></label>
                            <span class="helper-text" data-error="Please provide keywords!" data-success="Good!"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="duration" type="number" class="validate" min="1">
                            <label for="duration">Duration (in minutes)</label>
                            <span class="helper-text" data-error="Please provide a valid duration" data-success="Good!"></span>
                        </div>
                    </div>

                    <div class="row">
                        <label> Preferred Time Zone</label>
                        <select id="timezone1" class="browser-default">
                            <option value="" disabled selected>Select Preferred Time Zone</option>
                            <option value="Americas (UTC -7)">Americas (UTC -7)</option>
                            <option value="Africa & Europe (UTC +2)">Africa & Europe (UTC +2)</option>
                            <option value="Oceania & Asia (UTC +8)">Oceania & Asia (UTC +8)</option>
                        </select>
                    </div>
                    <div class="row">
                        <label> Second Best Time Zone</label>
                        <select id="timezone2" class="browser-default">
                            <option value="" disabled selected>Select Second Best Time Zone</option>
                            <option value="Americas (UTC -7)">Americas (UTC -7)</option>
                            <option value="Africa & Europe (UTC +2)">Africa & Europe (UTC +2)</option>
                            <option value="Oceania & Asia (UTC +8)">Oceania & Asia (UTC +8)</option>
                            <option value="None">None</option>
                        </select>
                    </div>
                    <div class="row">
                        <label> Third Best Time Zone</label>
                        <select id="timezone3" class="browser-default">
                            <option value="" disabled selected>Select Third Best Time Zone</option>
                            <option value="Americas (UTC -7)">Americas (UTC -7)</option>
                            <option value="Africa & Europe (UTC +2)">Africa & Europe (UTC +2)</option>
                            <option value="Oceania & Asia (UTC +8)">Oceania & Asia (UTC +8)</option>
                            <option value="None">None</option>
                        </select>
                    </div>
                    <div class="row">
                        <label>Preferred Teaching Language</label>
                        <select id="language1" class="browser-default" required="required" aria-required="true">
                            <option value="" disabled selected>Select Preferred Teaching Language</option>
                            <option value="English">English</option>
                            <option value="Spanish">Spanish</option>
                            <option value="French">French</option>
                        </select>
                    </div>
                    <div class="row">
                        <label>Second Best Teaching Language</label>
                        <select id="language2" class="browser-default">
                            <option value="" disabled selected>Select Second Best Teaching Language</option>
                            <option value="English">English</option>
                            <option value="Spanish">Spanish</option>
                            <option value="French">French</option>
                        </select>
                    </div>
                    <div class="row">
                        <label>Third Best Teaching Language</label>
                        <select id="language3" class="browser-default">
                            <option value="" disabled selected>Select Third Best Teaching Language</option>
                            <option value="English">English</option>
                            <option value="Spanish">Spanish</option>
                            <option value="French">French</option>
                        </select>
                    </div>
                    
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="n_attendees" type="number" class="validate" min="20" required="required" aria-required="true" aria-label="Maximum number of attendees.">
                            <label for="n_attendees">Maximum Attendees <span style="color:red">*</span></label>
                            <span class="helper-text" data-error="Please provide a minimum number of 20!" data-success="Good!">Provide a minimum number of 20</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="website" type="text" class="validate" aria-labelledby="website-label website-helper">
                            <label id="website-label" for="website">Link to Course Material<sub>.</sub></label><span id="website-helper" class="helper-text">Leave blank if not available yet.</span>

                        </div>
                    </div>
                                        <div class="row">
                        <div class="input-field col s12">
                            <textarea id="tutorial_software" class="materialize-textarea" data-length="500" aria-labelledby="tutorial-software software-helper"></textarea>
                            <label id="tutorial-software" for="tutorial_software">What software do you need? <sub>.</sub></label><span id="software-helper" class="helper-text">Apart from video call software, do you have any software requests to support your tutorial?</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea id="tutorial_helpers" class="materialize-textarea" data-length="500" aria-labelledby="helpers-label helpers-helper"></textarea>
                            <label id="helpers-label" for="tutorial_helpers">Helpers / T A (what do you need?)<sub>.</sub></label><span id="helpers-helper" class="helper-text">In case you need Helpers/TA, please let us know what do you need</span>
                        </div>
                    </div>
                </div>

              
                <div class="form-container">
                    <h3>Audience</h3>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">groups</i>
                            <textarea id="audience" class="materialize-textarea validate" aria-label="Target Audience" required="required" aria-required="true"></textarea> <label
                                for="audience">Target Audience <span style="color:red">*</span> </label>
                        </div>
                    </div>
                    <div class="row">
                        <label>Level of Participants' Knowledge of R <span style="color:red"> *</span></label>
                        <select id="knowledge_level" class="browser-default" >
                            <option value="" disabled selected>Select the level of the Participants' Knowledge of R</option>
                            <option value="Beginner" aria-label="Beginner">Beginner</option>
                            <option value="Intermediate" aria-label="Intermediate">Intermediate</option>
                            <option value="Advanced" aria-label="Advanced">Advanced</option>
                        </select>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">description</i>
                            <input id="background" type="text" class="validate">
                            <label for="background">Other Required Background Knowledge</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">home_repair_service</i>
                            <input id="equipment" type="text" class="validate">
                            <label for="equipment">Required Equipment</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">apps</i>
                            <input id="software" type="text" class="validate">
                            <label for="software">Required Software</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">pending_actions</i>
                            <input id="indications" type="text" class="validate">
                            <label for="indications">Anything else we should know?</label>
                        </div>
                    </div>
                </div>


                <div class="form-container">
                    <h3>Accessibility</h3>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">source</i>
                            <input id="license" type="text" class="validate" required="required" aria-required="true" aria-label="Specify the license for this tutorial/material">
                            <label for="license">Specify the license for this tutorial/material <span style="color:red"> *</span></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <label>
                                <input id="agree_to_be_recorded" type="checkbox" value="yes" required="required" aria-required="true">
                                <span>I agree to be recorded <span style="color:red"> *</span></span>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <label>
                                <input id="agree_to_livestream" type="checkbox" value="yes" required="required" aria-required="true"/>
                                <span>I agree to livestream my tutorial <span style="color:red"> *</span></span>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <label>
                                <input id="agree_to_share_tutorial" type="checkbox" value="yes" required="required" aria-required="true"/>
                                <span>I agree to share my tutorial in the conference's GitHub repository <span style="color:red"> *</span> </span>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <label>
                                <input id="accessibility_agreement" type="checkbox" value="yes" required="required" aria-required="true">
                                <span>I have read and agree to comply with use-R! 2021 accessibility standards <span style="color:red"> *</span></span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-container">
                  <div class="input-field col s12">
                  <button id="sbtn" class="btn modal-close waves-effect waves-light btn-large blue darken-4 shiny-bound-input action-button" type="submit" name="action" aria-label="Submit">Submit
    <i class="material-icons right">cloud_done</i>
  </button>
  </div>
                    <div class="row">
                        {{ editUi }}
                    </div>
                    <div class="row">
                        {{ updateNote }}
                    </div>
                    <div class="row">
                        {{ errorNote }}
                    </div>
                </div>
                <!-- Main Form END  -->
            </form>
            
        </div> <!-- end of <div content> -->
        

    </div> <!-- end of <div all> -->
    

    <footer id="footer">
	<div class="container">

		<div class="col-md-4 col-sm-6">

			<div class="sponsor-cat">Host / Global Digital Partner</div>
			<img src="https://user2021.r-project.org/img/artwork/eth-negativ.png" width="120px">&nbsp;&nbsp;&nbsp;&nbsp;
			<img src="https://user2021.r-project.org/img/artwork/kof-negativ.png" width="50px">
			
			
					

	

			<hr class="hidden-md hidden-lg hidden-sm">

		</div>


		
		

		<div class="col-md-4 col-sm-6">

			<div class="social">
				
				<a href="https://twitter.com/useR2021global" target="_blank" style="opacity: 1;"><i class='fa fa-twitter'></i></a>
				
			</div>
			

			<hr class="hidden-md hidden-lg">

		</div>
		

		
		<div class="col-md-4 col-sm-6">

			The useR! conference series is arranged by the <a href="https://www.r-project.org/conferences.html" target="_blank">R Foundation</a>

			<hr class="hidden-md hidden-lg hidden-sm">

		</div>
		
		

	</div>
	
</footer>


<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>




<div id="copyright">
	<div class="container">
		<div class="col-md-12">
			
			<p class="pull-left">This website is licensed under a <a rel='license' href='http://creativecommons.org/licenses/by-sa/4.0/'>Creative Commons Attribution-ShareAlike 4.0 International License</a></p>
			
			<p class="pull-right">
				Template by <a href="http://bootstrapious.com/free-templates">Bootstrapious</a>.
				

				Ported to Hugo by <a href="https://github.com/devcows/hugo-universal-theme">DevCows</a>
			</p>
		</div>
	</div>
</div>




    
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js" integrity="sha384-1CmrxMRARb6aLqgBO7yyAxTOQE2AKb9GfXnEo760AUcUmFx3ibVJJAzGytlQcNXd" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0/jquery.counterup.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-parallax/1.1.3/jquery-parallax.js"></script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCFhtWLJcE30xOAjcbSFi-0fnoVmQZPb1Y&v=3.exp"></script>

<script src="https://user2021.r-project.orgjs/hpneo.gmaps.js"></script>
<script src="https://user2021.r-project.orgjs/gmaps.init.js"></script>
<script src="https://user2021.r-project.orgjs/front.js"></script>


<script src="https://user2021.r-project.orgjs/owl.carousel.min.js"></script>
    <script src="https://benubah.github.io/rcentral/tutorial/js/materialize.min.js"></script>
    <script>
        $(document).ready(function () {
            $('textarea#description, textarea#outline, textarea#objectives, textarea#motivation').characterCounter();
            $('select').formSelect();
               M.updateTextFields();// to avoid overlapping content with label when updating the field dynamically. Optionally set class=active on each textfield or textarea
        });

//countdown timer
(function () {
  const second = 1000,
        minute = second * 60,
        hour = minute * 60,
        day = hour * 24;

  let deadline = "Feb 05, 2021 23:59:00",
      countDown = new Date(deadline).getTime(),
      x = setInterval(function() {    

        let now = new Date().getTime(),
            distance = countDown - now;

        document.getElementById("days").innerText = Math.floor(distance / (day)),
          document.getElementById("hours").innerText = Math.floor((distance % (day)) / (hour)),
          document.getElementById("minutes").innerText = Math.floor((distance % (hour)) / (minute)),
          document.getElementById("seconds").innerText = Math.floor((distance % (minute)) / second);

        //do something later when date is reached
        if (distance < 0) {
           headline = document.getElementById("headline");
		document.getElementById("days").innerText = 0;
		document.getElementById("hours").innerText = 0;
		document.getElementById("minutes").innerText = 0;
		document.getElementById("seconds").innerText = 0;
           //countdown = document.getElementById("countdown");
           //content = document.getElementById("content");

          headline.innerText = "SUBMISSION CLOSED!";
		document.getElementById("sbtn").disabled = true
          //countdown.style.display = "none";
          //content.style.display = "block";

          clearInterval(x);
        }
        //seconds
      }, 0)
  }());
    </script>


  </body>
</html>
